<mat-toolbar class="header" *ngIf="!(hideContainer$ | async) && (title$ | async)">
  <h2>{{ title$ | async }}</h2>

  <span class="spacer"></span>

  <div class="header-user-area">
    <span class="header-user-name">{{ nome$ | async }}</span>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="avatar-button">
      <span class="avatar">{{ initials$ | async }}</span>
    </button>
  </div>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Sair</span>
    </button>
    <button mat-menu-item (click)="filaDeConferencia()">
      <mat-icon>view_list</mat-icon>
      <span>Fila de Conferência</span>
    </button>
    <button *ngIf="isAdmin$ | async" mat-menu-item (click)="usuario()">
      <mat-icon>person_search</mat-icon>
      <span>Consultar Usuários</span>
    </button>
    <button *ngIf="isAdmin$ | async" mat-menu-item (click)="redefinirUsuario()">
      <mat-icon>person_shield</mat-icon>
      <span>Redefinir Usuários</span>
    </button>
  </mat-menu>
</mat-toolbar>
