@use "../styles/spacing" as *;
@use "../styles/typography" as *;
@use "../styles/breakpoints" as *;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: clip; // clip não quebra position:sticky interno
}

.container {
  flex: 1;
  min-height: 0;
  padding: $space-24;
  margin: 8px;
  border: 2px solid var(--color-primary);
  border-radius: 16px;
  box-sizing: border-box;
  overflow-x: clip; // clip não quebra sticky, hidden quebra
  overflow-y: auto;
  min-width: 0;
}
