@use "@angular/material" as mat;
@use "./styles/breakpoints";
@use "./styles/spacing";
@use "./styles/typography";
@use "./styles/basic";
@use "./styles/form";
@use "./styles/grid";
@use "./styles/table";

@include mat.core();
$fila-conferencia-primary: mat.define-palette(mat.$green-palette, 800);
$fila-conferencia-accent: mat.define-palette(mat.$light-green-palette, A400);
$fila-conferencia-warn: mat.define-palette(mat.$red-palette, 600);

$fila-conferencia-theme: mat.define-light-theme(
  (
    color: (
      primary: $fila-conferencia-primary,
      accent: $fila-conferencia-accent,
      warn: $fila-conferencia-warn,
    ),
  )
);
@include mat.all-component-themes($fila-conferencia-theme);

:root {
  // brand
  --color-primary: #{mat.get-color-from-palette($fila-conferencia-primary)};
  --color-primary-hover: #{mat.get-color-from-palette(
      $fila-conferencia-primary,
      darker
    )};
  --color-accent: #{mat.get-color-from-palette($fila-conferencia-accent)};
  --color-warn: #{mat.get-color-from-palette($fila-conferencia-warn)};

  // surfaces
  --color-bg: #f5f7fa;
  --color-surface: #ffffff;
  --color-border: rgba(0, 0, 0, 0.12);
  --color-yellow: #f5b129;

  // text
  --color-text-primary: rgba(0, 0, 0, 0.87);
  --color-text-secondary: rgba(0, 0, 0, 0.6);

  // contrast
  --color-on-primary: #{mat.get-color-from-palette(
      $fila-conferencia-primary,
      default-contrast
    )};
  --color-on-accent: #{mat.get-color-from-palette(
      $fila-conferencia-accent,
      default-contrast
    )};
  --color-on-warn: #{mat.get-color-from-palette(
      $fila-conferencia-warn,
      default-contrast
    )};

  // form
  --mat-form-field-container-height: 40px;
}
